################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ecommerce/copilot-chat/205edd30/sessions
/.vs/ecommerce/FileContentIndex
