@{
    ViewData["Title"] = "Accueil";
}

<h2>Bienvenue</h2>

<div class="d-flex justify-content-center mt-4">
    <a href="/Account/Login" class="btn btn-outline-primary me-3">Login</a>
    <a href="/Account/Signup" class="btn btn-outline-success">Signup</a>
</div>
